.input-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-value label {
    margin: .5%;
}

.input-value input {
    margin: .5%;
}

.card {
    box-shadow: 2px 2px black;
    width: 20%;
}

.currencies-board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}